body
{
	 overflow-x: hidden;
	 background:#ffff;
	
}
.resim hr {
    width: 100%;
    margin-top:-100px;
    size:4;
    background:white;

}
.logo
{
	
	text-decoration:none;
}
.logo img
{
	width:250px;
	height:250px;
}
.resim
{
	background-image: linear-gradient(to bottom,#ff0134,#ad0a27);
	width:100%;
	height:150px;
	background-repeat:no-repeat;
	background-position:center;
	margin-top:-8px;
	z-index:1;


}
.logoresim
{
	width:50px;
	height:50px;
   margin-top:-120px;
   margin-right:160px;
}
.menu
{
	width:150px;
	height:30px;
	margin-left:20px;
	margin-top:2px;
	background:transparent;
}

.arkamenu
{
	width:50px;
	height:30px;
    background:url(../resimlerim/88.png);
	background-size:50px 30px;
	float:left; 
	margin-top:15px;



}
.buyukmenusayfa
{
  width:100%;
  height:100%;
  background:url(../resimlerim/54.jpg);
  position:absolute;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  z-index:2;
  display:none;
 
}
.araclar
{
	background:transparent;
	width:285px;
	height:400px;
	position:absolute;
	margin-left:50px;
	margin-top:50px;
	
}

.link2
{
	color:white;transition:700ms; float:left;text-decoration:none;opacity:0;font-family:cursive; font-size:17px;

}
.link2:hover
{
	color:yellow;
}
.link3
{
	color:white;transition:700ms; float:left;text-decoration:none; opacity:0;font-family:cursive; font-size:17px;margin-left: 50px; 
}
.link3:hover
{
	color:yellow;
}
.link4
{
	color:white;transition:700ms; float:left;text-decoration:none; opacity:0;font-family:cursive; font-size:17px;
}
.link4:hover
{
	color:yellow;
}
.link5
{
	color:white; transition:700ms; float:left;text-decoration:none;opacity:0; font-family:cursive; font-size:17px;margin-left: 25px;
}
.link5:hover
{
	color:yellow;
}
.araclardiv
{
	float:left;width:90px;height:45px; color:white;font-size:20px;font-family:cursive;text-align:left;padding-top:15px;transition:700ms;
}
.araclardiv:hover
{
	color:yellow;

}
.sekil1
{
	background:url(../resimlerim/xy.png);float:left;width:35px;transition:700ms;height:60px;background-size:20px 20px;background-position:center;float:left;background-repeat:no-repeat;transform:rotate(180deg);
}
.kampayanlar
{
	float:left;width:145px;height:45px; transition:700ms;color:white;font-size:20px;font-family:cursive;text-align:left;padding-top:15px;
}
.kampayanlar:hover
{
	color:yellow;
}
.misyon
{
	float:left;width:250px;height:45px;  transition:700ms;color:white;font-size:20px;font-family:cursive;text-align:left;padding-top:15px; 
}
.misyon:hover
{
	color:yellow;
}
.hak
{
	float:left;width:115px;height:45px;transition:700ms; color:white;font-size:20px;font-family:cursive;text-align:left;padding-top:15px;
}
.hak:hover
{
	color:yellow;
}
.iletisim
{
	float:left;width:95px;height:45px;transition:700ms; color:white;font-size:20px;font-family:cursive;text-align:left;padding-top:15px;
}
.iletisim:hover
{
	color:yellow;
}
.araclaraltmenu
{
	background:transparent;
	width:800px;
	height:0px;
	margin-top:40px;
	display:none;
   
}
.altlogo
{
	width:200px;
	height:50px;
	background:url("../resimlerim/FYKHA-logos_white.png");
	background-size:cover;
	background-position:center;
    margin-top:600px;
    margin-left:650px;
    opacity:0;
}
.cikin
{
	width:50px;
	height:50px;
	background:url("../resimlerim/output-onlinepngtools (14).png");
	background-size:cover;
	background-position:left;
	background-size:20px 20px;
	background-repeat:no-repeat;
	margin-top:-610px;
	margin-left:1400px;
	position:absolute;
	cursor:pointer;
	opacity:0;
}




.altheader
{
	background:#35353c;
	width:100%;
	height:300px;
	position:relative;

	
}
.altheader hr
{

	width:80%;
	position:absolute;
	margin-top:150px;
	margin-left:130px;
}
.telefon
{
	
	width:150px; 
	height:50px;
	position:absolute;
	 font-size:34px; 
	 margin-left:530px;
	  margin-top:70px;
	  background-image:url(../resimlerim/phone-call.png);
	   background-position: center;
	   background-repeat: no-repeat;
	   background-size:50px 50px;

}
.odeme
{
	width:400px;
	height:50px;
	background:transparent;
	position:absolute;
	margin-top:230px;
	margin-left:150px;
}
.sosyalmedya
{
	width:400px;
	height:50px;
	background:transparent;
	position:absolute;
	margin-top:230px;
	margin-left:920px;
}





.arabalardiv
{
	width:300px;
	height:500px;
	box-shadow:0.5px 0.5px 0.1px black,-0.5px -0.5px 0.1px black;
	margin-top:150px;
	float:left;
	margin-left:50px;
	position:relative;
	border-radius:5%;
	transition:500ms;
}
.arabalardiv:hover
{
     transform: scale(1.1);


}
.arabalardiv hr {
    width: 100%;
    margin-top:-230px;
    size:1;
    background:black;
    height:1px;

}
.arabacerceve
{
	width:100%;
	height:820px;
	background:transparent;
	margin-top:-70px;
	position:relative;
	
}
.arabalardiv img
{
	width:400px;
	height:200px;

}
.aracozellik
{
	background:transparent;
	width:302px;
	height:260px;

}
.vr2
{

  border-left: 2px solid #ffff;
  height:80px;
  position: absolute;
  margin:190px 0 0 750px;

}
.kisi
{
  background:transparent;
  width:250px;
  height:40px;
  margin-top:15px;
a
}
.kutular
{
	background:transparent;
	width:130px;
	height:212px;
	margin-left:10px;
	margin-top:-10px;

}
.text
{
    width:182px;
	height:28px;
	float:left;
	text-align:left;
	font-size:15px;
	font-family:tahoma;
	padding-top:12px;
	

}






.n{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  perspective: 1000px;
  float:left;

}
.n a{
 
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.n a:before
{
  position: absolute;
  content: "Hemen Kirala";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
}
.n a:after{
  position: absolute;
  content: "Hemen Kirala";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid black;
  box-sizing: border-box;
  border-radius: 5px;

}
.n a:before{
  color:#ffff;
  background-image: linear-gradient(to bottom,#ff0134,#ad0a27);
  transform: rotateY(0deg) translateZ(25px);
}
.n a:after{
   color:black;
  background:white;
  transform: rotateX(90deg) translateZ(25px);
}
.n a:hover{
  transform: translateZ(-50px) rotateX(-90deg);
}

.butonlar
{
	width:100%;
	height:90px;
	margin-top:680px;
	position:absolute;
	background:transparent;
}
.butonlar1
{
	width:100%;
	height:90px;
	margin-top:1340px;
	position:absolute;
	background:transparent;
}
.butonlar2
{
	width:100%;
	height:90px;
	margin-top:1980px;
	position:absolute;
	background:transparent;
}
.butonlar3
{
	width:100%;
	height:90px;
	margin-top:2630px;
	position:absolute;
	background:transparent;
}
.buton1
{
  width: 180px;
  height: 55px;
  float:left;
  margin-left:95px;
}
.buton2
{
  width: 180px;
  height: 55px;
  float:left;
  margin-left:180px;
}
.buton3
{
  width: 180px;
  height: 55px;
  float:left;
  margin-left:170px;
}
.buton4
{
  width: 180px;
  height: 55px;
  float:left;
  margin-left:180px;
}